# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
config/*
*.egg-info/
.installed.cfg
*.egg
*.db
*.log
.env

# Eclipse files
.cproject
.project
.settings/
.idea

# Visual Studio Code files
.vscode